In [9]:
import geopandas as gpd 
import pandas as pd
from shapely import ops
import os
import shapely
import numpy as np
import psycopg2
import pandana as pdna
import networkx as nx
import multiprocessing as mp

from geoalchemy2 import Geometry, WKTElement
from sqlalchemy import *

from shapely.geometry import *
shapely.speedups.enable()

%matplotlib inline

In [10]:
def create_graph(gdf, precision=3, simplify=1):
    '''Create a networkx DiGraph given a GeoDataFrame of lines. Every line will
    correspond to two directional graph edges, one forward, one reverse. The
    original line row and direction will be stored in each edge. Every node
    will be where endpoints meet (determined by being very close together) and
    will store a clockwise ordering of incoming edges.
    '''
    # The geometries sometimes have tiny end parts - get rid of those!
    gdf.geometry = gdf.geom.simplify(simplify)

    #G = nx.DiGraph()
    G = nx.Graph()

    # TODO: converting to string is probably unnecessary - keeping float may be
    # faster
    def make_node(coord, precision):
        return tuple(np.round(coord, precision))

    # Edges are stored as (from, to, data), where from and to are nodes.
    # az1 is the azimuth of the first segment of the geometry (point into the
    # geometry), az2 is for the last segment (pointing out of the geometry)
    def add_edges(row, G):
        geom = row.geom
        coords = list(geom.coords)
        geom_r = LineString(coords[::-1])
        coords_r = geom_r.coords
        start = make_node(coords[0], precision)
        end = make_node(coords[-1], precision)
        # Add forward edge
        fwd_attr ={}
        for k,v in row.items():
            fwd_attr[k]=v
        fwd_attr['forward']= 1
        fwd_attr['geometry']=  geom
        fwd_attr['length']=  geom.length
#         fwd_attr['az1']=  azimuth_cartesian(coords[0], coords[1])
#         fwd_attr['az2']=  azimuth_cartesian(coords[-2], coords[-1])
        fwd_attr['visited']= 0

        G.add_edge(start, end, **fwd_attr)

    gdf.apply(add_edges, axis=1, args=[G])

    return G

In [3]:
con = psycopg2.connect(database="walkability", user="postgres", password=1234,
    host="172.19.118.205",port="5432")
pednet= gpd.read_postgis('SELECT * FROM public.pednet100m',con,crs={'init': 'epsg:2019'})
pednet['distance'] = pednet.geom.length
pednet['distance']

0         74.097267
1         86.664696
2         63.990661
3         63.990661
4         98.384042
5         90.022112
6         90.022112
7         90.022112
8         52.952604
9         52.952604
10        61.841117
11        61.841117
12        91.898827
13        18.823190
14        33.944756
15        83.179815
16        83.179815
17        78.401199
18        89.854370
19        50.401166
20        50.401166
21        86.633939
22        86.633939
23        86.633939
24        97.680349
25        90.409356
26        80.588990
27        80.588990
28        63.082536
29        63.082536
            ...
125232    78.554208
125233    78.554208
125234    60.643137
125235    78.866441
125236    57.266962
125237    57.266962
125238    79.303550
125239    79.303550
125240    84.928817
125241    59.765053
125242    94.719212
125243    65.043230
125244    65.366956
125245    50.990459
125246    50.990459
125247    92.031043
125248    53.693961
125249    68.807735
125250    68.807735
125251    59.789842
125252    59.789842
125253    79.695762
125254    83.000348
125255    66.394121
125256    66.394121
125257    83.252441
125258    74.316316
125259    61.166064
125260    61.166064
125261    74.097267
Name: distance, Length: 125262, dtype: float64

In [11]:
G = create_graph(pednet)
#from G to urbanaccess network model - one node idx,x,y one edge from to weight
#G.edges(data=True)

In [12]:
edges = nx.to_pandas_edgelist(G,'from','to')
to = edges['to'].tolist()
fr = edges['from'].tolist()
fr = list(set(fr))
to = list(set(to))
to.extend(fr)
nodes = list(set(to))
nodes = pd.DataFrame(nodes)
nodes.columns=['x', 'y']
nodes['xy'] = nodes.apply(lambda z: (z.x,z.y),axis=1)

In [45]:
#nodes['xy']

In [46]:
nodes.to_csv("./nodes.csv")
#fr

In [31]:
for ix, node in nodes.iterrows():
        indicies = edges[edges.to == node.xy].index
        edges.loc[indicies,'to'] = ix
        indicies = edges[edges['from'] == node.xy].index
        edges.loc[indicies,'from'] = ix

In [21]:
import pandas as pd
import numpy as np
from multiprocessing import Pool
num_partitions = 16 #number of partitions to split dataframe
num_cores = 16 #number of cores on your machine



def parallelize_dataframe(df, func):
    df_split = np.array_split(df, num_partitions)
    pool = Pool(num_cores)
    df = pd.concat(pool.map(func, df_split))
    pool.close()
    pool.join()
    return df

def set_node_id(edges):
    nodes = pd.read_csv('./nodes.csv')
    for ix, node in nodes.iterrows():
        indicies = edges[edges.to == node.xy].index
        edges.loc[indicies,'to'] = ix
        indicies = edges[edges['from'] == node.xy].index
        edges.loc[indicies,'from'] = ix
    return edges
    
    
edges = parallelize_dataframe(edges, set_node_id)

In [29]:
edges["to"]

/opt/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [33]:
#Initialize the Pandana network 
#https://github.com/gboeing/urban-data-science/blob/master/20-Accessibility-Walkability/pandana-accessibility-demo-simple.ipynb
import pandana as pdna
from pandana import Network

transit_ped_net = pdna.Network(nodes["x"],
                               nodes["y"],
                               edges["from"],
                               edges["to"],                         
                               pd.DataFrame([edges.length]).T,
                               twoway=True)

/opt/anaconda3/lib/python3.6/site-packages/pandana/network.py:81: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  nodes_df.astype('double').as_matrix(),
/opt/anaconda3/lib/python3.6/site-packages/pandana/network.py:82: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  edges.as_matrix(),
/opt/anaconda3/lib/python3.6/site-packages/pandana/network.py:84: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  .astype('double')
/opt/anaconda3/lib/python3.6/site-packages/pandana/network.py:90: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  self.kdtree = KDTree(nodes_df.as_matrix())

In [34]:
transit_ped_net.save_hdf5('/media/DATADRIVE/walkability/ped_net_final_02115.hd5')

/opt/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [35]:
transit_ped_net.precompute(10000)

In [36]:
con = psycopg2.connect(database="walkability", user="postgres", password=1234,
    host="172.19.118.205",port="5432")
schools = gpd.read_postgis('SELECT * FROM compliance.school',con,crs={'init': 'epsg:2019'})
#schools_wgs = schools.to_crs(epsg=4326)

hospitals = gpd.read_postgis('SELECT * FROM compliance.hospital',con,crs={'init': 'epsg:2019'})
librarys = gpd.read_postgis('SELECT * FROM compliance.library',con,crs={'init': 'epsg:2019'})
ttc_stops = gpd.read_postgis('SELECT * FROM compliance.ttc_stop',con,crs={'init': 'epsg:2019'})
buildings = gpd.read_postgis('SELECT * FROM public.topo_building_dissolved',con,crs={'init': 'epsg:2019'})
#buildings_wgs = buildings.to_crs(epsg=4326)

In [37]:


# tmp = [-79.639273,43.580253,-79.113219,43.855442]

# # Reordered for Pandana functions
# bbox = [tmp[1], tmp[0], tmp[3], tmp[2]]

x, y = schools.x, schools.y
schools["node_ids"] = transit_ped_net.get_node_ids(x, y)
#transit_ped_net.init_pois(num_categories=1, max_dist=5000, max_pois=10)
transit_ped_net.set(schools["node_ids"], name="school")

x, y = hospitals.x, hospitals.y
hospitals["node_ids"] = transit_ped_net.get_node_ids(x, y)
#transit_ped_net.init_pois(num_categories=1, max_dist=5000, max_pois=10)
transit_ped_net.set(hospitals["node_ids"], name="hospital")

x, y = librarys.x, librarys.y
librarys["node_ids"] = transit_ped_net.get_node_ids(x, y)
#transit_ped_net.init_pois(num_categories=1, max_dist=5000, max_pois=10)
transit_ped_net.set(librarys["node_ids"], name="library")

x, y = ttc_stops.x, ttc_stops.y
ttc_stops["node_ids"] = transit_ped_net.get_node_ids(x, y)
#transit_ped_net.init_pois(num_categories=1, max_dist=5000, max_pois=10)
transit_ped_net.set(ttc_stops["node_ids"], name="ttc_stop")

# x, y = schools_wgs.x, schools_wgs.y
# schools_wgs["node_ids"] = transit_ped_net1.get_node_ids(x, y)
# #transit_ped_net1.init_pois(num_categories=1, max_dist=5000, max_pois=10)
# transit_ped_net1.set(schools_wgs["node_ids"], name="school")



x, y = buildings.geom.centroid.x, buildings.geom.centroid.y
buildings["node_ids"] = transit_ped_net.get_node_ids(x, y)

# x, y = buildings_wgs.geom.centroid.x, buildings_wgs.geom.centroid.y
# buildings_wgs["node_ids"] = transit_ped_net1.get_node_ids(x, y)

/opt/anaconda3/lib/python3.6/site-packages/pandana/network.py:370: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  distances, indexes = self.kdtree.query(xys.as_matrix())

In [39]:
transit_ped_net.set_pois("school",5000, 10, schools.x, schools.y)
school_walk_distances = transit_ped_net.nearest_pois(5000, "school", num_pois=10)

transit_ped_net.set_pois("hospital",5000, 10, hospitals.x, hospitals.y)
hospital_walk_distances = transit_ped_net.nearest_pois(5000, "hospital", num_pois=10)

transit_ped_net.set_pois("library",5000, 10, librarys.x, librarys.y)
library_walk_distances = transit_ped_net.nearest_pois(5000, "library", num_pois=10)

transit_ped_net.set_pois("ttc_stop",5000, 10, ttc_stops.x, ttc_stops.y)
ttc_stop_walk_distances = transit_ped_net.nearest_pois(5000, "ttc_stop", num_pois=10)

/opt/anaconda3/lib/python3.6/site-packages/pandana/network.py:370: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  distances, indexes = self.kdtree.query(xys.as_matrix())

In [40]:
transit_ped_net.poi_category_names

['school', 'hospital', 'library', 'ttc_stop']

In [41]:
school_walk_distances.columns = ['d_sc_'+str(i) for i in range(1,11,1)]
hospital_walk_distances.columns = ['d_hp_'+str(i) for i in range(1,11,1)]
library_walk_distances.columns = ['d_lb_'+str(i) for i in range(1,11,1)]
ttc_stop_walk_distances.columns = ['d_ttcst_'+str(i) for i in range(1,11,1)]

In [42]:
library_walk_distances

,d_lb_1,d_lb_2,d_lb_3,d_lb_4,d_lb_5,d_lb_6,d_lb_7,d_lb_8,d_lb_9,d_lb_10
0,1420.482056,2307.336914,3452.539062,3502.219971,4444.223145,4487.020996,5000.000000,5000.000000,5000.000000,5000.000000
1,832.861023,1262.948975,2885.672119,3416.038086,3462.183105,3585.164062,3761.631104,3992.396973,4403.244141,4607.121094
2,1143.384033,1359.792969,1660.680054,1976.771973,2460.373047,2711.188965,2825.482910,3011.072021,3377.524902,3609.736084
3,775.192017,852.666016,1051.261963,1847.689941,2030.744995,2323.882080,3089.114014,3218.031982,3350.943115,3716.521973
4,307.212006,1428.343994,1646.048950,2010.182007,2138.676025,2688.718994,2767.342041,3071.798096,3225.042969,3298.287109
5,1362.418945,3359.997070,3925.041992,3985.383057,4073.231934,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
6,1257.941040,2725.688965,3527.061035,3585.816895,3781.581055,3971.092041,4866.554199,5000.000000,5000.000000,5000.000000
7,2247.129883,2772.612061,3134.049072,3446.309082,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
8,791.802979,918.794983,922.359985,1519.334961,1818.619995,2548.284912,2801.083008,2811.367920,2968.132080,3100.820068
9,1220.994019,2429.292969,3490.114014,3583.239990,3872.095947,3878.664062,4570.158203,4779.252930,5000.000000,5000.000000
10,1131.360962,2638.455078,3025.042969,3236.042969,3320.194092,4137.500977,4619.369141,4981.277832,5000.000000,5000.000000
11,1054.146973,1279.657959,1738.004028,1915.921997,3163.979980,3219.393066,3271.178955,3423.490967,3901.384033,4318.062988
12,1283.459961,1369.078003,1736.634033,1838.265991,2063.719971,2305.501953,2719.748047,3293.462891,3487.436035,3696.995117
13,457.661011,2092.062012,3424.654053,4130.373047,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
14,615.854980,1664.870972,4339.173828,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
15,4816.793945,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
16,1046.974976,1794.041992,2361.346924,2655.385986,2704.126953,3701.854004,3986.071045,4080.793945,4113.620117,4514.045898
17,1194.816040,2116.860107,3389.312012,3855.124023,4495.155762,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
18,775.883972,2300.175049,2859.251953,4044.280029,4371.562012,4934.921875,5000.000000,5000.000000,5000.000000,5000.000000
19,1412.759033,3575.197998,4853.435059,4950.637207,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
20,1945.519043,2293.806885,2508.678955,2955.850098,3001.876953,4390.101074,4840.015137,4854.092773,4860.450195,4980.138184
21,1581.614014,2888.476074,3004.294922,3046.155029,4325.110840,4909.344238,5000.000000,5000.000000,5000.000000,5000.000000
22,851.153015,1650.904053,2055.179932,2266.530029,2295.144043,2683.154053,3218.708984,3230.718994,3484.060059,3885.044922
23,1920.572021,2322.097900,2389.644043,3031.968994,3962.930908,4982.270996,5000.000000,5000.000000,5000.000000,5000.000000
24,189.427002,1691.480957,1932.227051,2164.349121,2233.574951,2494.690918,2514.437012,2568.998047,2590.450928,3024.775879
25,513.562012,984.781006,1803.211060,1864.232056,2583.095947,2588.053955,2631.919922,2871.637939,3223.795898,3454.885010
26,485.640015,1236.197998,1265.416992,1450.285034,2000.295044,2071.541016,2286.478027,2456.955078,2587.931885,3146.482910
27,1865.381958,2023.790039,3575.524902,4285.984863,4519.820801,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
28,2938.825928,4085.492920,4270.454102,4847.233887,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
29,1600.560059,2853.201904,2941.066895,3237.201904,3425.395020,3552.093018,3775.247070,4514.728027,4686.823242,4697.417969
...,...,...,...,...,...,...,...,...,...,...
102829,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
102830,1242.649048,2355.021973,2600.724121,3805.339111,4507.591797,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
102831,1494.286987,1611.657959,2366.033936,3854.820068,3987.221924,4297.245117,4624.819824,4823.493164,5000.000000,5000.000000
102832,4134.713867,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
102833,983.260986,3334.127930,3496.533936,4139.610840,4143.869141,4852.616211,5000.000000,5000.000000,5000.000000,5000.000000
102834,2296.769043,2719.025879,3123.575928,3709.625977,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
102835,703.825989,3144.657959,3204.866943,3447.322998,3564.042969,4362.060059,5000.000000,5000.000000,5000.000000,5000.000000
102836,1370.277954,2362.451904,2556.769043,3826.019043,4131.184082,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
102837,2092.186035,3945.875977,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
102838,499.585999,791.232971,1441.645996,1562.489990,1683.442993,2095.400879,2130.690918,2254.614014,2329.629883,2532.158936
102839,1434.349976,3165.310059,3772.217041,3856.180908,4034.311035,4920.903809,5000.000000,5000.000000,5000.000000,5000.000000
102840,1746.994995,3022.614990,3038.784912,3839.826904,4209.924805,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
102841,586.245972,1130.293945,1936.012939,1963.112061,2230.159912,2304.676025,2307.721924,2832.802979,2834.425049,3240.236084
102842,434.483002,2766.243896,3009.939941,3117.170898,4320.057129,4493.245117,4998.996094,5000.000000,5000.000000,5000.000000
102843,1074.761963,2780.141113,3437.339111,3850.263916,4179.681152,4575.890137,5000.000000,5000.000000,5000.000000,5000.000000
102844,2344.669922,2552.235107,3082.820068,3594.743896,3727.779053,3899.122070,4918.051758,5000.000000,5000.000000,5000.000000
102845,3151.154053,3398.027100,3560.062988,3775.534912,3933.547119,4167.566895,5000.000000,5000.000000,5000.000000,5000.000000
102846,2502.708984,3893.624023,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
102847,735.267029,1969.270020,2612.100098,2936.583984,3536.035889,3662.220947,4064.687012,4119.184082,4165.651855,4342.757812
102848,2747.621094,3139.305908,3974.281006,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
102849,1927.782959,2287.461914,2291.239014,2327.085938,2405.033936,2483.306885,3143.718018,3214.960938,3289.016113,3790.910889
102850,1098.307007,1367.241943,1956.656982,3009.040039,3360.483887,3598.274902,3751.871094,4122.676758,5000.000000,5000.000000
102851,2493.714111,3861.944092,3988.572998,4771.504883,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
102852,816.190002,1840.214966,3311.550049,3480.281006,3557.991943,3822.754883,3998.695068,4076.527100,4828.434082,4877.940918
102853,679.530029,2994.718994,3109.239014,3158.081055,3706.826904,4009.009033,4589.044922,5000.000000,5000.000000,5000.000000
102854,1281.260010,1690.608032,2336.379883,3849.016113,4274.347168,4420.901855,4882.499023,5000.000000,5000.000000,5000.000000
102855,796.127014,1155.598999,2900.135986,3393.222900,4569.481934,4773.352051,5000.000000,5000.000000,5000.000000,5000.000000
102856,881.302979,1539.110962,1899.404053,2426.372070,2430.058105,2709.202881,3032.778076,3507.281982,3900.540039,4064.649902
102857,1397.479980,2121.616943,3249.613037,3669.152100,3817.979004,4298.312012,4313.979004,4594.851074,5000.000000,5000.000000
102858,920.142029,2084.771973,2630.831055,2721.572021,2989.520996,3295.624023,3461.216064,3746.295898,4021.747070,4340.190918

In [43]:
buildings['distance_schools_median'] = np.nan
buildings['minutes_schools_median'] = np.nan
buildings['distance_hospitals_median'] = np.nan
buildings['minutes_hospitals_median'] = np.nan
buildings['distance_librarys_median'] = np.nan
buildings['minutes_librarys_median'] = np.nan
buildings['distance_ttc_stops_median'] = np.nan
buildings['minutes_ttc_stops_median'] = np.nan
c = 0
l = len(buildings.node_ids.unique())
for ix,group in buildings.groupby('node_ids'):
    group
    c +=1
    buildings.loc[group.index,'distance_schools_median'] = school_walk_distances.loc[ix].median(axis=0)
    buildings.loc[group.index,'minutes_schools_median'] = buildings.loc[ix,'d_sc_{}'.format(i)]/(1.2*60)
    buildings.loc[group.index,'distance_hospitals_median'] = hospital_walk_distances.loc[ix].median(axis=0)
    buildings.loc[group.index,'minutes_hospitals_median'] = buildings.loc[ix,'d_hp_{}'.format(i)]/(1.2*60)
    buildings.loc[group.index,'distance_librarys_median'] = library_walk_distances.loc[ix].median(axis=0)
    buildings.loc[group.index,'minutes_librarys_median'] = buildings.loc[ix,'d_lb_{}'.format(i)]/(1.2*60)
    buildings.loc[group.index,'distance_ttc_stops_median'] = ttc_stop_walk_distances.loc[ix].median(axis=0)
    buildings.loc[group.index,'minutes_ttc_stops_median'] = buildings.loc[ix,'d_ttcst_{}'.format(i)]/(1.2*60)

    for i in range(1,11,1):
        buildings.loc[group.index,'d_sc_{}'.format(i)] = school_walk_distances.loc[ix]['d_sc_{}'.format(i)]
        buildings.loc[group.index,'m_sc_{}'.format(i)] = buildings.loc[ix,'d_sc_{}'.format(i)]/(1.2*60)
        buildings.loc[group.index,'d_hp_{}'.format(i)] = hospital_walk_distances.loc[ix]['d_hp_{}'.format(i)]
        buildings.loc[group.index,'m_hp_{}'.format(i)] = buildings.loc[ix,'d_hp_{}'.format(i)]/(1.2*60)
        buildings.loc[group.index,'d_lb_{}'.format(i)] = library_walk_distances.loc[ix]['d_lb_{}'.format(i)]
        buildings.loc[group.index,'m_lb_{}'.format(i)] = buildings.loc[ix,'d_lb_{}'.format(i)]/(1.2*60)
        buildings.loc[group.index,'d_ttcst_{}'.format(i)] = ttc_stop_walk_distances.loc[ix]['d_ttcst_{}'.format(i)]
        buildings.loc[group.index,'m_ttcst_{}'.format(i)] = buildings.loc[ix,'d_ttcst_{}'.format(i)]/(1.2*60)

In [44]:
# Creating SQLAlchemy's engine to use
engine = create_engine('postgresql://postgres:1234@172.19.118.205:5432/walkability')

buildings['geometry'] = buildings['geom'].apply(lambda x: WKTElement(x.wkt, srid=2019))

#drop the geometry column as it is now duplicative
blds= buildings.drop('geom', 1, inplace=False)

# Use 'dtype' to specify column's type
# For the geom column, we will use GeoAlchemy's type 'Geometry'
blds.to_sql("walkability_buildings_all0221", engine, if_exists='replace', index=False, 
                         dtype={'geometry': Geometry('MULTIPOLYGON', srid= 2019)})