In [37]:
import seaborn as sns
import pandas as pd
import google_streetview.api
import google_streetview.helpers
import geopandas as gpd 
import pandas as pd
from shapely import ops
import os
import shapely
import numpy as np
import psycopg2
import pandana as pdna
import networkx as nx
import multiprocessing as mp
import matplotlib.pyplot as plt
from geoalchemy2 import Geometry, WKTElement
from sqlalchemy import *
import time
from shapely.geometry import *
import sys,os,os.path
import requests
from urllib.request import urlopen
import json
import hiscore
from pandas.io.json import json_normalize
shapely.speedups.enable()
%matplotlib inline

In [21]:
# add proxy pass
os.environ['HTTP_PROXY']="http://asulaim:***@proxy.**.ca:8080"
os.environ['HTTPS_PROXY']="https://asulaim:***@proxy.***.ca:8080"

In [195]:
#url = 'http://pulse.media.mit.edu/static/data/consolidated_data_jsonformatted.json'
#df = pd.read_json('http://pulse.media.mit.edu/static/data/consolidated_data_jsonformatted.json')
df = pd.read_json (r"/media/DATADRIVE/walkability/ablajan/Toronto_Streetscore/data/consolidated_data_jsonformatted.json")
#df = pd.read_json(url, orient='columns')
df.tail(4)

,City,Error in QS Safer,Error in QS Unique,Error in QS Upperclass,File_Location,Heading,ID,Lat,Lon,Pitch,QS Safer,QS Unique,QS Upperclass
4132,New York City,0.41,0.68,0.5,/images/id_478_400_300.jpg,295,478,40.71250,-73.88200,3,4.54,3.68,4.42
4133,New York City,0.23,#VALUE!,0.29,/images/id_479_400_300.jpg,201,479,40.68180,-73.87510,10,2.61,#VALUE!,2.76
4134,Salzburg,0.47,0.14,0.59,/images/id_3199_400_300.jpg,NULL,3199,47.81183,13.06033,NULL,4.9,3.09,4.8
4135,New York City,0.5,0.84,0.74,/images/id_3729_400_300.jpg,298,3729,40.69340,-73.96660,5,5.86,6.19,3.82

In [152]:
df.shape

(4136, 13)

In [196]:
city = ['Boston', 'New York City']
df = df.loc[df['City'].isin(city)]

In [197]:
# empty values, need to remove
df[df['QS Safer'] == '#VALUE!']

,City,Error in QS Safer,Error in QS Unique,Error in QS Upperclass,File_Location,Heading,ID,Lat,Lon,Pitch,QS Safer,QS Unique,QS Upperclass
2180,Boston,#VALUE!,0.52,0.18,/images/id_1274_400_300.jpg,222,1274,42.3948,-71.0536,0,#VALUE!,2.55,2.91
2371,New York City,#VALUE!,0.6,0.23,/images/id_181_400_300.jpg,325,181,40.6696,-73.9001,2,#VALUE!,4.48,2.75
2830,Boston,#VALUE!,0.44,0.39,/images/id_1413_400_300.jpg,156,1413,42.3432,-71.0625,1,#VALUE!,2.3,2.93
4046,New York City,#VALUE!,0.66,0.17,/images/id_727_400_300.jpg,321,727,40.6641,-73.8710,1,#VALUE!,3.66,2.84

In [198]:
df = df[df['QS Safer'] != '#VALUE!']

In [170]:
df.shape

(2938, 13)

In [199]:
df['QS Safer'] = df['QS Safer'].astype(float)

In [158]:
df['QS Safer'].describe()

count    2938.000000
mean        4.666229
std         1.455595
min         0.210000
25%         3.700000
50%         4.740000
75%         5.700000
max         8.350000
Name: QS Safer, dtype: float64

In [172]:
df

,City,Error in QS Safer,Error in QS Unique,Error in QS Upperclass,File_Location,Heading,ID,Lat,Lon,Pitch,QS Safer,QS Unique,QS Upperclass
1,Boston,0.51,0.68,0.61,/images/id_4447_400_300.jpg,340,4447,42.3809,-71.0665,8,7.42,8.58,6.5
2,New York City,0.58,0.8,0.61,/images/id_4026_400_300.jpg,7,4026,40.8259,-73.9249,5,4.96,3.79,5.44
3,New York City,0.41,0.74,0.61,/images/id_4027_400_300.jpg,335,4027,40.7875,-73.9528,10,6.94,6.66,5.87
4,New York City,0.58,0.7,0.6,/images/id_4024_400_300.jpg,356,4024,40.7728,-73.9584,12,6.36,6.29,6.47
5,New York City,0.54,0.86,0.63,/images/id_4025_400_300.jpg,7,4025,40.6887,-73.8402,8,4.85,4.67,5.08
6,New York City,0.61,0.82,0.59,/images/id_4022_400_300.jpg,19,4022,40.7743,-73.9096,5,6.70,4.59,5.23
7,New York City,0.55,0.73,0.71,/images/id_4023_400_300.jpg,33,4023,40.8200,-73.8170,4,5.64,5.67,5.8
8,New York City,0.6,0.77,0.59,/images/id_4020_400_300.jpg,325,4020,40.7571,-73.9620,5,6.82,5.55,6.27
9,New York City,0.55,0.67,0.55,/images/id_4021_400_300.jpg,332,4021,40.6075,-73.9923,6,4.99,3.91,4.42
10,New York City,0.58,0.7,0.64,/images/id_4028_400_300.jpg,336,4028,40.6754,-74.0143,0,1.57,1.32,0.27
11,New York City,0.61,0.75,0.54,/images/id_4029_400_300.jpg,20,4029,40.7724,-73.8999,4,4.10,2.69,3.3
13,New York City,0.46,0.83,0.49,/images/id_344_400_300.jpg,253,344,40.6776,-74.0099,4,3.82,4.22,5.49
14,New York City,0.35,0.55,0.56,/images/id_345_400_300.jpg,154,345,40.6571,-73.9075,6,3.97,3.84,4.35
15,New York City,0.46,0.67,0.56,/images/id_346_400_300.jpg,197,346,40.6685,-73.8829,1,3.84,5.67,4.06
16,New York City,0.51,0.37,0.5,/images/id_347_400_300.jpg,13,347,40.6675,-73.8452,-1,4.21,3.57,4.06
17,New York City,0.57,0.52,0.39,/images/id_340_400_300.jpg,241,340,40.6800,-73.9587,7,3.65,3.98,3.34
18,New York City,0.5,0.63,0.63,/images/id_341_400_300.jpg,170,341,40.5978,-73.9994,6,5.24,4.08,5.07
19,New York City,0.52,0.85,0.49,/images/id_3999_400_300.jpg,328,3999,40.6859,-73.9864,7,7.48,8.13,7.65
20,New York City,0.53,0.59,0.53,/images/id_343_400_300.jpg,209,343,40.6539,-73.9326,5,4.70,4.25,5.3
21,New York City,0.5,0.61,0.49,/images/id_3997_400_300.jpg,349,3997,40.6154,-73.9994,3,4.77,4.45,4.04
22,New York City,0.44,0.65,0.46,/images/id_3996_400_300.jpg,290,3996,40.6235,-73.9379,6,2.79,2.96,1.36
23,New York City,0.57,0.82,0.52,/images/id_3995_400_300.jpg,322,3995,40.7646,-73.9954,6,3.73,3.1,2.46
24,New York City,0.48,0.77,0.6,/images/id_3994_400_300.jpg,21,3994,40.6482,-73.9607,8,4.62,3.75,4.16
25,New York City,0.5,0.71,0.51,/images/id_348_400_300.jpg,200,348,40.8234,-73.9264,6,4.46,4.37,3.46
26,New York City,0.52,0.82,0.63,/images/id_3992_400_300.jpg,9,3992,40.6067,-73.9824,6,4.51,4.87,5.3
27,New York City,0.55,0.67,0.7,/images/id_3991_400_300.jpg,4,3991,40.7282,-73.8446,2,5.08,2.42,5.12
28,New York City,0.53,0.7,0.67,/images/id_3990_400_300.jpg,351,3990,40.7414,-73.9172,5,5.71,5.12,4.73
29,Boston,0.48,0.64,0.65,/images/id_4686_400_300.jpg,28,4686,42.3948,-71.0536,-1,1.61,2.18,0.1
30,Boston,0.56,0.77,0.57,/images/id_4844_400_300.jpg,24,4844,42.2901,-71.0552,8,6.56,4.95,5.32
31,Boston,0.52,0.74,0.6,/images/id_4687_400_300.jpg,254,4687,42.4016,-71.1328,3,5.25,5.02,4.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4093,Boston,0.38,0.24,0.35,/images/id_1365_400_300.jpg,190,1365,42.3309,-71.0685,-7,3.58,2.95,3.25
4095,Boston,0.39,0.77,0.53,/images/id_1292_400_300.jpg,140,1292,42.3068,-71.1081,0,5.64,5.1,4.72
4097,Boston,0.51,0.65,0.54,/images/id_1290_400_300.jpg,196,1290,42.4008,-71.1401,2,5.85,5.43,4.31
4098,Boston,0.49,0.72,0.7,/images/id_1291_400_300.jpg,115,1291,42.3768,-71.1007,-2,4.81,4.84,4.77
4099,Boston,0.49,#VALUE!,0.51,/images/id_1296_400_300.jpg,145,1296,42.3838,-71.0959,3,5.05,#VALUE!,4.65
4100,Boston,0.43,0.77,0.47,/images/id_1297_400_300.jpg,183,1297,42.3615,-71.1411,-4,5.27,3.86,3.8
4101,Boston,0.52,0.69,0.6,/images/id_1294_400_300.jpg,192,1294,42.3629,-71.0553,0,5.64,5.9,5.78
4103,New York City,0.4,0.67,0.5,/images/id_474_400_300.jpg,199,474,40.6912,-73.8415,1,4.01,5.69,3.96
4106,New York City,0.33,0.54,0.45,/images/id_795_400_300.jpg,80,795,40.6665,-73.9606,5,3.26,3.83,3.76
4107,Boston,0.3,0.39,0.37,/images/id_1381_400_300.jpg,240,1381,42.3638,-71.1229,5,3.10,3.89,3.53
4109,New York City,0.45,0.72,0.46,/images/id_793_400_300.jpg,165,793,40.6788,-73.9719,1,6.37,5.23,6.49
4111,Boston,0.57,0.65,0.67,/images/id_4398_400_300.jpg,347,4398,42.3987,-71.1137,6,7.51,5.98,8.07
4112,Boston,0.5,0.77,0.37,/images/id_4399_400_300.jpg,355,4399,42.3193,-71.1118,2,3.32,3.22,2.67
4114,Boston,0.51,0.68,0.47,/images/id_4441_400_300.jpg,238,4441,42.3305,-71.0747,-4,0.86,1.79,1.57
4115,New York City,0.41,0.56,0.57,/images/id_590_400_300.jpg,16,590,40.7039,-73.8703,1,4.89,4.27,5.24
4116,Boston,0.47,0.82,0.64,/images/id_4391_400_300.jpg,70,4391,42.3408,-71.1164,-1,6.95,4.77,6.74
4117,Boston,0.45,0.56,0.68,/images/id_1201_400_300.jpg,192,1201,42.3829,-71.0854,-3,4.26,4.14,4.85
4118,Boston,0.47,0.59,0.43,/images/id_4393_400_300.jpg,338,4393,42.3890,-71.0232,2,1.06,2.02,1.72
4119,Boston,0.55,0.76,0.53,/images/id_4394_400_300.jpg,14,4394,42.3809,-71.1143,5,6.49,6.42,7.63
4121,Boston,0.51,0.73,0.57,/images/id_4396_400_300.jpg,9,4396,42.2963,-71.0825,7,2.73,4.72,3.24
4122,Boston,0.52,0.84,0.62,/images/id_4397_400_300.jpg,29,4397,42.2934,-71.0606,6,7.27,5.69,6.87
4123,New York City,0.3,0.78,0.43,/images/id_472_400_300.jpg,230,472,40.7514,-73.8598,10,3.37,4.92,3.58
4124,Boston,0.31,0.57,0.31,/images/id_1367_400_300.jpg,126,1367,42.3314,-71.0418,2,3.60,4.18,3.28
4125,Boston,0.43,0.72,0.45,/images/id_1364_400_300.jpg,317,1364,42.4051,-71.1286,0,4.34,5.05,4.81
4127,Boston,0.47,0.65,0.59,/images/id_1362_400_300.jpg,150,1362,42.3575,-71.1083,9,4.39,5.27,4.76
4128,Boston,0.47,0.47,0.49,/images/id_1363_400_300.jpg,205,1363,42.4040,-71.1397,6,4.56,3.67,4
4131,Boston,0.56,0.72,0.58,/images/id_4444_400_300.jpg,35,4444,42.3784,-71.1230,2,5.30,5.86,6.73
4132,New York City,0.41,0.68,0.5,/images/id_478_400_300.jpg,295,478,40.7125,-73.8820,3,4.54,3.68,4.42
4133,New York City,0.23,#VALUE!,0.29,/images/id_479_400_300.jpg,201,479,40.6818,-73.8751,10,2.61,#VALUE!,2.76
4135,New York City,0.5,0.84,0.74,/images/id_3729_400_300.jpg,298,3729,40.6934,-73.9666,5,5.86,6.19,3.82

In [209]:
#generate a scoring function by calling hiscore.create with this reference set
#reference_set = {(0): 0, (0.835): 10, (1.67): 20, (2.505): 30, (3.34): 40, (4.175): 50, (5.01): 60, (5.845): 70, (6.68): 80, (7.515): 90, (8.35): 100}
reference_set = {(0,0.25): 0, (0.25, 0.835): 1, (0.835, 1.67): 2, (1.67, 2.505): 3, (2.505, 3.34): 4, (3.34, 4.175): 5, (4.175, 5.01): 6, (5.01, 5.845): 7, (5.845, 6.68): 8, (6.68, 7.515): 9, (7.515, 8.35): 10}
# [-1] -> decreasing order in attributes
score_function = hiscore.create(reference_set, [1,1], minval=0, maxval=10)
print(score_function)

<hiscore.engine.HiScoreEngine object at 0x7f79b0b30518>

In [210]:
list(zip(reference_set.keys(), np.round(score_function.calculate(reference_set.keys()))))

[((0, 0.25), 0.0),
 ((0.25, 0.835), 1.0),
 ((0.835, 1.67), 2.0),
 ((1.67, 2.505), 3.0),
 ((2.505, 3.34), 4.0),
 ((3.34, 4.175), 5.0),
 ((4.175, 5.01), 6.0),
 ((5.01, 5.845), 7.0),
 ((5.845, 6.68), 8.0),
 ((6.68, 7.515), 9.0),
 ((7.515, 8.35), 10.0)]

In [211]:
print(df.columns.values)

['City' 'Error in QS Safer' 'Error in QS Unique' 'Error in QS Upperclass'
 'File_Location' 'Heading' 'ID' 'Lat' 'Lon' 'Pitch' 'QSSafer' 'QS Unique'
 'QS Upperclass' 'score']

In [212]:
df = df.rename(columns={'QS Safer': 'QSSafer'})

In [213]:
df['score'] = df.apply(lambda row: np.round(score_function.calculate([(row.QSSafer)])), axis=1)

In [216]:
df['score']

1       [9.0]
2       [6.0]
3       [9.0]
4       [8.0]
5       [6.0]
6       [8.0]
7       [7.0]
8       [8.0]
9       [6.0]
10      [2.0]
11      [5.0]
13      [5.0]
14      [5.0]
15      [5.0]
16      [5.0]
17      [5.0]
18      [7.0]
19      [9.0]
20      [6.0]
21      [6.0]
22      [4.0]
23      [5.0]
24      [6.0]
25      [6.0]
26      [6.0]
27      [6.0]
28      [7.0]
29      [2.0]
30      [8.0]
31      [7.0]
        ...
4093    [5.0]
4095    [7.0]
4097    [7.0]
4098    [6.0]
4099    [6.0]
4100    [7.0]
4101    [7.0]
4103    [5.0]
4106    [4.0]
4107    [4.0]
4109    [8.0]
4111    [9.0]
4112    [4.0]
4114    [1.0]
4115    [6.0]
4116    [9.0]
4117    [5.0]
4118    [1.0]
4119    [8.0]
4121    [4.0]
4122    [9.0]
4123    [4.0]
4124    [5.0]
4125    [5.0]
4127    [6.0]
4128    [6.0]
4131    [7.0]
4132    [6.0]
4133    [3.0]
4135    [7.0]
Name: score, Length: 2938, dtype: object

In [215]:
#replacement not working
df.score.replace(['['], [''], inplace=True)

/opt/anaconda3/lib/python3.6/site-packages/pandas/core/internals.py:5152: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = op(a, b)
/opt/anaconda3/lib/python3.6/site-packages/pandas/core/missing.py:51: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x

In [223]:
df.dtypes

Unnamed: 0                  int64
City                       object
Error in QS Safer         float64
Error in QS Unique         object
Error in QS Upperclass     object
File_Location              object
Heading                     int64
ID                          int64
Lat                       float64
Lon                       float64
Pitch                       int64
QSSafer                   float64
QS Unique                  object
QS Upperclass              object
hscore                      int64
dtype: object

In [57]:
df.to_csv(r"/media/DATADRIVE/walkability/ablajan/Toronto_Streetscore/data/consolidated_data_jsonformattedscore.csv")

In [226]:
df=pd.read_csv(r"/media/DATADRIVE/walkability/ablajan/Toronto_Streetscore/data/consolidated_data_jsonformattedscore.csv")

df.score.sort_values( ascending=False)

1036    10
1664    10
2838    10
2830    10
323     10
496     10
657     10
737     10
745     10
833     10
921     10
156     10
946     10
2560    10
2528    10
1500    10
264     10
2139    10
1633     9
2621     9
2052     9
663      9
695      9
2046     9
2017     9
754      9
790      9
2624     9
1905     9
653      9
        ..
328      1
1370     1
507      1
1275     1
997      1
1218     1
1019     1
1204     1
1170     1
2506     1
1621     1
1630     1
1644     1
784      1
516      1
590      1
1824     1
1820     1
603      1
613      1
2896     1
1768     1
617      1
2277     1
746      1
2889     1
262      1
2294     1
1421     1
2292     0
Name: score, Length: 2938, dtype: int64