In [1]:
import geopandas as gpd 
import pandas as pd
from shapely import ops
import os
import shapely
import numpy as np
import psycopg2
import networkx as nx
import multiprocessing as mp
from shapely.geometry import LineString
import pandana as pdna
from pandana import Network
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
shapely.speedups.enable()

%matplotlib inline

In [3]:
# get cencus tract
con = psycopg2.connect(database="walkability", user="postgres", password=1234,
    host="172.19.118.205",port="5432")
ct = gpd.read_postgis('SELECT * FROM walkability.public.census_tracts_blank',con)

In [4]:
ct.head(3)

,gid,__gid,ctuid,ctname,pruid,prname,cmauid,cmapuid,cmaname,cmatype,shape_leng,shape_area,ctnum,geotext,geom
0,1,62,5350001.00,0001.00,35,Ontario,535,35535,Toronto,B,36906.495474,6.619690e+06,535000100.0,535000100,(POLYGON ((320588.9306980086 4835855.647789237...
1,2,63,5350002.00,0002.00,35,Ontario,535,35535,Toronto,B,32534.307654,3.293422e+06,535000200.0,535000200,"(POLYGON ((316642.831678931 4832470.554474635,..."
2,3,87,5350264.00,0264.00,35,Ontario,535,35535,Toronto,B,12241.116870,3.464007e+06,535026400.0,535026400,(POLYGON ((314351.8668838083 4845056.100542194...

In [ ]:
#import csv
#import requests

#CSV_URL = 'https://www03.cmhc-schl.gc.ca/hmip-pimh/en/TableMapChart/Table?TableId=2.2.11&GeographyId=2270&GeographyTypeId=3&DisplayAs=Table&GeograghyName=Toronto#csv-export'


#with requests.Session() as s:
#    download = s.get(CSV_URL)

#    decoded_content = download.content.decode('utf-8')

#    cr = csv.reader(decoded_content.splitlines(), delimiter=',')
#    my_list = list(cr)
#    for row in my_list:
 #       print(row)

In [48]:

#df = pd.read_csv('/media/DATADRIVE/realestate/rental_prices/census_tracts/bedr_type_2010.csv')
#ftp://asulaim@172.19.118.205/media/DATADRIVE/walkability/ablajan/str_size_2010.csv
#df = pd.read_csv('/media/DATADRIVE/walkability/ablajan/str_size_2010.csv')
df = pd.read_csv('/media/DATADRIVE/realestate/rental_prices/census_tracts/bedr_type_2017.csv', delimiter= ",", skiprows=2)

In [49]:
df.dtypes

Unnamed: 0      object
Bachelor        object
Unnamed: 2      object
1 Bedroom       object
Unnamed: 4      object
2 Bedroom       object
Unnamed: 6      object
3 Bedroom +     object
Unnamed: 8      object
Total           object
Unnamed: 10     object
Unnamed: 11    float64
dtype: object

In [46]:
df.head()

,Unnamed: 0,Bachelor,Unnamed: 2,1 Bedroom,Unnamed: 4,2 Bedroom,Unnamed: 6,3 Bedroom +,Unnamed: 8,Total,Unnamed: 10,Unnamed: 11
0,0001.00,**,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
1,0002.00,**,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
2,0004.00,880,a,"1,009",b,"1,121",b,**,NaN,982,a,NaN
3,0005.00,900,a,"1,106",c,"1,456",c,**,NaN,"1,088",c,NaN
4,0007.01,938,c,"1,162",b,**,NaN,**,NaN,"1,165",c,NaN

In [50]:
df.tail(10)

,Unnamed: 0,Bachelor,Unnamed: 2,1 Bedroom,Unnamed: 4,2 Bedroom,Unnamed: 6,3 Bedroom +,Unnamed: 8,Total,Unnamed: 10,Unnamed: 11
626,0831.02,**,NaN,"1,145",b,"1,476",b,**,NaN,"1,322",b,NaN
627,Toronto,"1,013",a,"1,194",a,"1,403",a,"1,589",a,"1,308",a,NaN
628,Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
629,The following letter codes are used to indicat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
630,** Data suppressed to protect confidentiality ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
631,++ Change in rent is not statistically signifi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
632,- No units exist in the universe for this cat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
633,n/a: Not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
634,"CMA, CA and CSD definitions are based on 2016 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
635,Source,CMHC Rental Market Survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df.tail(10)

,Unnamed: 0,Bachelor,Unnamed: 2,1 Bedroom,Unnamed: 4,2 Bedroom,Unnamed: 6,3 Bedroom +,Unnamed: 8,Total,Unnamed: 10,Unnamed: 11
625,0831.01,**,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
626,0831.02,**,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
628,Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
629,The following letter codes are used to indicat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
630,** Data suppressed to protect confidentiality ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
631,++ Change in rent is not statistically signifi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
632,- No units exist in the universe for this cat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
633,n/a: Not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
634,"CMA, CA and CSD definitions are based on 2016 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
635,Source,CMHC Rental Market Survey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
#df.drop(df.index[0], inplace=True)
#df.drop(['Toronto', 'Notes', 'The following letter codes are used to indicate the reliability of the estimates: a - Excellent, b- Very good, c - Good, d - Fair (Use with Caution)', '** Data suppressed to protect confidentiality or data not statistically reliable', '++ Change in rent is not statistically significant. This means that the change in rent is not statistically different than zero (0).  (Applies only to % Change of Average Rent Tables).', ' - No units exist in the universe for this category', 'n/a: Not applicable', 'CMA, CA and CSD definitions are based on 2006 Census Geography Definitions', 'Source'])
#df.drop(df.index[627], inplace=True)
#df.drop(df.index[627], inplace=True)
df.drop(df.tail(9).index,inplace=True)
df.columns

Index(['Unnamed: 0', 'Bachelor', 'Unnamed: 2', '1 Bedroom', 'Unnamed: 4',
       '2 Bedroom', 'Unnamed: 6', '3 Bedroom +', 'Unnamed: 8', 'Total',
       'Unnamed: 10', 'Unnamed: 11'],
      dtype='object')

In [58]:
df = df.rename(columns={'Unnamed: 0': 'ctname', 'Unnamed: 2': 'reliability_ba', '1 Bedroom': 'bedroom_1', 'Unnamed: 4': 'reliability_b1', '2 Bedroom': 'bedroom_2', 'Unnamed: 6': 'reliablity_b2', '3 Bedroom +': 'bedroom_3', 'Unnamed: 10': 'reliability_t' })
df.columns

Index(['ctname', 'Bachelor', 'reliability_ba', 'bedroom_1', 'reliability_b1',
       'bedroom_2', 'reliablity_b2', 'bedroom_3', 'Unnamed: 8', 'Total',
       'reliability_t', 'Unnamed: 11'],
      dtype='object')

In [59]:
ct.merge(df, left_on='ctname', right_on='ctname')

,gid,__gid,ctuid,ctname,pruid,prname,cmauid,cmapuid,cmaname,cmatype,...,reliability_ba,bedroom_1,reliability_b1,bedroom_2,reliablity_b2,bedroom_3,Unnamed: 8,Total,reliability_t,Unnamed: 11
0,1,62,5350001.00,0001.00,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
1,2,63,5350002.00,0002.00,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
2,4,94,5350082.00,0082.00,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
3,6,217,5350163.00,0163.00,35,Ontario,535,35535,Toronto,B,...,a,907,a,"1,006",a,**,NaN,"1,027",b,NaN
4,7,443,5350213.02,0213.02,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
5,8,455,5350376.04,0376.04,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
6,10,569,5350225.02,0225.02,35,Ontario,535,35535,Toronto,B,...,b,"1,327",b,"1,581",b,**,NaN,"1,432",b,NaN
7,11,1,5350128.04,0128.04,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
8,12,5,5350363.06,0363.06,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
9,16,6,5350010.01,0010.01,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
10,18,8,5350282.00,0282.00,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
11,19,9,5350284.00,0284.00,35,Ontario,535,35535,Toronto,B,...,NaN,"1,174",b,"1,412",c,**,NaN,"1,334",b,NaN
12,20,81,5350105.00,0105.00,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
13,21,10,5350285.00,0285.00,35,Ontario,535,35535,Toronto,B,...,NaN,868,b,979,b,**,NaN,936,b,NaN
14,22,11,5350286.00,0286.00,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
15,23,12,5350280.00,0280.00,35,Ontario,535,35535,Toronto,B,...,b,"1,002",a,"1,198",b,"1,415",a,"1,127",b,NaN
16,24,13,5350239.00,0239.00,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
17,25,14,5350332.00,0332.00,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
18,26,15,5350333.00,0333.00,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
19,29,17,5350338.00,0338.00,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
20,30,19,5350373.00,0373.00,35,Ontario,535,35535,Toronto,B,...,NaN,"1,031",a,"1,189",a,**,NaN,"1,098",a,NaN
21,32,21,5350365.00,0365.00,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
22,33,22,5350366.00,0366.00,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
23,34,37,5350108.00,0108.00,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
24,35,23,5350288.00,0288.00,35,Ontario,535,35535,Toronto,B,...,a,"1,039",a,"1,197",a,**,NaN,"1,096",a,NaN
25,36,24,5350289.00,0289.00,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,989,a,NaN
26,37,25,5350298.00,0298.00,35,Ontario,535,35535,Toronto,B,...,NaN,"1,195",a,"1,394",a,"1,619",a,"1,341",a,NaN
27,38,26,5350300.00,0300.00,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
28,39,27,5350313.00,0313.00,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,"1,051",a,**,NaN,"1,021",a,NaN
29,40,28,5350318.00,0318.00,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,533,530,5350311.06,0311.06,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
415,534,531,5350378.18,0378.18,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
416,536,533,5350263.03,0263.03,35,Ontario,535,35535,Toronto,B,...,c,984,a,"1,104",a,**,NaN,"1,024",b,NaN
417,537,535,5350316.06,0316.06,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
418,539,537,5350321.02,0321.02,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
419,542,540,5350331.03,0331.03,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
420,543,545,5350312.06,0312.06,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
421,544,546,5350249.05,0249.05,35,Ontario,535,35535,Toronto,B,...,NaN,"1,086",a,"1,401",c,**,NaN,"1,337",b,NaN
422,545,541,5350263.04,0263.04,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
423,546,547,5350080.01,0080.01,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
424,547,548,5350080.02,0080.02,35,Ontario,535,35535,Toronto,B,...,NaN,"1,045",a,**,NaN,**,NaN,"1,127",b,NaN
425,548,549,5350072.01,0072.01,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
426,551,544,5350306.02,0306.02,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
427,552,551,5350331.04,0331.04,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
428,553,552,5350351.01,0351.01,35,Ontario,535,35535,Toronto,B,...,NaN,"1,146",b,"1,329",b,**,NaN,"1,209",b,NaN
429,554,553,5350351.02,0351.02,35,Ontario,535,35535,Toronto,B,...,NaN,961,a,"1,107",a,**,NaN,"1,051",a,NaN
430,555,554,5350247.02,0247.02,35,Ontario,535,35535,Toronto,B,...,a,"1,038",a,"1,132",a,**,NaN,"1,088",a,NaN
431,558,557,5350281.01,0281.01,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
432,559,558,5350281.02,0281.02,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
433,561,560,5350353.04,0353.04,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,"1,674",a,"1,160",a,NaN
434,562,561,5350355.04,0355.04,35,Ontario,535,35535,Toronto,B,...,NaN,"1,003",a,"1,170",b,"1,309",b,"1,148",b,NaN
435,563,562,5350363.04,0363.04,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
436,564,563,5350363.05,0363.05,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
437,565,564,5350376.11,0376.11,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
438,567,566,5350159.01,0159.01,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
439,568,567,5350159.02,0159.02,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
440,569,568,5350225.01,0225.01,35,Ontario,535,35535,Toronto,B,...,NaN,"1,182",a,"1,345",a,"1,492",a,"1,307",a,NaN
441,570,570,5350260.04,0260.04,35,Ontario,535,35535,Toronto,B,...,NaN,**,NaN,**,NaN,**,NaN,**,NaN,NaN
442,571,571,5350301.03,0301.03,35,Ontario,535,35535,Toronto,B,...,NaN,"1,303",a,"1,484",a,"1,669",a,"1,463",a,NaN
443,572,572,5350301.04,0301.04,35,Ontario,535,35535,Toronto,B,...,NaN,"1,208",a,"1,376",a,"1,592",a,"1,381",a,NaN